{% extends "layout.html" %}

{% block content %}
    <h1 class="mb-4">Film detail information</h1>
    <div class="card mb-4  w-75 shadow-sm details-card">
        <img 
        src="{% if film.image %}{{ film.image.url }}{% elif film.image_url %}{{ film.image_url }}{% else %}https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg{% endif %}" 
        class="card-img-top" 
        alt="Product Image" />
        <div class="card-body">
            <h5 class="card-title">{{ film.name }}</h5>

            <p class="card-text">
                <strong>Description:</strong> {{ film.description }}
            </p>

            <p class="card-text">
                <strong>Category:</strong> {{ film.get_category_display }}
            </p>

            <p class="card-text">
                <strong>Price:</strong> ${{ film.price }}
            </p>

            <p class="card-text">
                <strong>Stock:</strong> {{ film.stock }} tickets available
            </p>

            <p class="card-text">
                <strong>Show time:</strong> {{ film.show_time }}
            </p>

            <a href={% url 'index' %} class="btn btn-primary">Back to list</a>
        </div>
    </div>
{% endblock %}
